// Bulma
@import '~bulma/sass/utilities/initial-variables';

/*
 * OVERRIDE BULMA VARIABLES
 */

/*@import './../../node_modules/bulma/sass/utilities/initial-variables.sass';*/

$family-sans-serif: 'proxima-nova', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$blue: #000066;
$turqoise: #22a49c;
$radius-small: 1px;
$radius: 2px;
$radius-large: 3px;
$size-7: .85rem;
$column-gap: 1.5rem;

/*
 * Derived Bulma vars
 */
/*$primary: $blue;*/
$primary: $grey-dark;
/*$info: $turqoise;*/
$info: $grey-dark;
$link: $grey;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-active-color:	$primary;
$fullhd: $widescreen;

/*
 * IMPORTS
 */
@import '~bulma/bulma.sass';

/*
 * BULMA OVERRIDES
 */
.field-label .label,
.label {
  font-weight: $weight-bold;
  color: $info;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .75rem;
}

.input {
  box-shadow: none;
}

.field {
  margin-bottom: 2rem !important;
}

.tabs li.is-active a {
  border-bottom-color: $primary;
  color: $primary;
  font-weight: $weight-bold;
}

.tabs:not(:last-child) {
  margin-bottom: 2.5rem;
}

.tabs a:hover {
  border-bottom-color: $primary;
  color: $primary;
}

/*
 * BULMA ADD-ONS
 */


.input:focus, 
.input.is-focused, 
.input:active, 
.input.is-active, 
.textarea:focus, 
.textarea.is-focused, 
.textarea:active, 
.textarea.is-active {
  box-shadow: none;
  border-color: $info;
}


/*
 * BASE
 */
html {
  font-size: 16px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family: 'proxima-nova', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  /*color: $primary;*/
  -webkit-font-smoothing: antialiased;
}

.wrap {
  box-sizing: border-box;
  /*margin: 0 auto;*/
  max-width: 71.25rem;
}

.arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 6px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid $grey-dark;
}


.arrow-right {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 6px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid $grey-dark;
}

.has-letter-space-1 {
  letter-spacing: 1px;
}

.has-border-bottom {
  border-bottom: 1px solid $grey-light;
}

.banner-hero {
  background-color: $primary !important;

  & h1 {
    transform: translateY(15%);
    font-weight: 700;
  }
}

.banner-tabs {

  padding-bottom: .5rem;
  overflow: visible;
  background-color: $primary;

  & ul {
    border-bottom-style: none;
    border-bottom-width: 0;
  }

  & a {
    border-bottom-style: none;
    border-bottom-width: 0;
    color: $white;
    opacity: .8;
    
    &:hover {
      color: $white;
      border-bottom-color: unset;
    }
  }

  & li {
    position: relative;
  }

  & li.is-active a {
    color: $white;
    border-bottom: none;
  }

  & li.is-active:after {
    content: '';
    height: 0.5em;
    width: 0;
    position: absolute;
    left: 57%;
    bottom: -36px;
    margin-left: -1.5em;
    z-index: 3;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-top-color: $primary;
    border-width: 14px;

  }

}

.db-nav {

  // adapted from PayPal dashboard
  .navbar-item.is-active:after {
    content: '';
    height: 0.5em;
    width: 0;
    position: absolute;
    left: 57%;
    bottom: -35px;
    margin-left: -1.5em;
    z-index: 3;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-top-color: $primary;
    border-width: 1.1em;
  }


}

.db-form {
  & .column {
    padding-bottom: 0;
  }
}

.svg-icon {
  width: 100px;
  height: 100px;
  fill: transparent;
  stroke: $border;
}

.svg-icon:hover {
  stroke: $border-hover;
}

.db-link {
  text-align: center;
  margin-bottom: 1rem;
}

a.is-active .db-link svg.svg-icon {
  stroke: $primary;
  stroke-width: 2;
}

a.is-active .db-link p {
  font-weight: $weight-bold;
  color: $primary;
}

.temp-left-nav {
  position: relative;
  top: 57px;
}
